body {
    background: url(bg1.jpg);
    color: aliceblue;
    font-weight: 700;
}

.line {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.text {
    font-size: 42px;
    padding-left: 150px;
}

.block {
    margin-right: 50px;
}